body {
	font-family: 'Roboto', sans-serif;
	color: black;
	text-align: left;
	line-height: 1.5em;
	background-color: floralwhite;
	margin: auto;
	width: 100%;
	max-width: 30em;
	padding-left: 10px;
	display: inline-grid;
	grid-template-areas: 
	'menu'
	'header'
    'main'
    'footer'
	'menu2';
	justify-content: start;
}

header {
	padding: 20px;
	padding-top: 50px;
	margin: 0%;
	max-width: 750px;
	line-height: 1.3;
	justify-content: left;
	grid-area: header;
	float: inline-start;
  }

  footer {
	grid-area: footer;
  }

  section {
	padding: 2%;
	margin: 2%;
	max-width: 750px;
  }

.navbar {	 
	float: top;
	width: 150px;
	font-size: 0.9em;
	margin-left: auto;
	margin-right: auto;
	text-overflow: ellipsis;
	overflow: auto;
	white-space: nowrap;
	height: 100%;
	position: fixed;
	grid-area: menu;
	display: block;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f1f1f1;
	border: 1px solid #555;
	position: fixed;
	top: 0;
	width: 100%;
  }
.navbar li {
	float: left;
	text-align: center;
	padding-left: 10px;
	border-right: 1px solid #bbb;
  }

.navbar li:last-child {
	display: inline;
  }  
.navbar li a {
	display: block;
	color: #000;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}

  /* Change the link color on hover */
.navbar li a:hover {
	background-color: #555;
	color: white;
  }

.active {
background-color: #04AA6D;
font-weight: bold;
color: white;
}

.content {
	float: start;
	width: auto;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	overflow-y: auto;
	padding: 0 15px;
	padding-bottom: 50px;
	margin-left: 0;
	margin-right: auto;
	max-width: 750px;
	min-width: 150px;
	grid-area: main;
	display: block;
}

.responsive {
	width: 100%;
	height: auto;
  }
