body { 
        text-align: justify; 
        background-color: beige; 
        font-family: Arial, sans-serif;
        margin: 10%;
  }

  li { 
        list-style-type: circle; 
        padding: 10px; 
  }

  p {
        color: rgb(139, 0, 0);
        font-family: Verdana, Geneva, Tahoma, serif;
  }