@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 60px;
  width: 60%;
  background: #c9ab7c;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 15px;
  width: 65%;
  background: #d4ad2d;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato {
  height: 25px;
  width: 50%;
  background-color: #9eeab9;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball {
  height: 60px;
  width: 70px;
  background: #271203;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 35px;
  width: 65%;
  background: #966452;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 30px;
  width: 50%;
  background: #1c9d5b;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.onion {
  width: 40%;
  background-color: #bf3944;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 30px;
  width: 60%;
  background: #c9ab7c;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #5355a7;
  border-radius: 20px 20px 200px 200px;
}
